<!DOCTYPE html>
<html>
<head>
    <title>FIC Dashboard</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Socket.IO -->
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="dashboard">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>🔐 FIC</h2>
        <p>Dashboard</p>
        <p>Logs</p>
        <p>Alerts</p>
    </div>

    <!-- MAIN -->
    <div class="main">

        <!-- NAVBAR -->
        <div class="navbar">
            <h2>File Integrity Checker</h2>
             <span id="status" style="color:lime; font-weight:bold;">● Running</span>
        </div>

        <!-- CONTROLS -->
        <div class="controls">
            <button onclick="createBaseline()">Baseline</button>
            <button onclick="startMonitor()">Start</button>
            <button onclick="stopMonitor()">Stop</button>
        </div>

        <!-- CARDS -->
        <div class="cards">
            <div class="card red">
                <h3>Deleted</h3>
                <p id="critical">0</p>
            </div>

            <div class="card orange">
                <h3>Modified</h3>
                <p id="warning">0</p>
            </div>

            <div class="card green">
                <h3>New</h3>
                <p id="new">0</p>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="content">

            <!-- CHARTS -->
            <div class="charts">
                <canvas id="barChart"></canvas>
                <canvas id="pieChart"></canvas>
            </div>

            <!-- ALERTS -->
            <div class="alerts">
                <h3>🚨 Alerts</h3>
                <div id="alertBox"></div>
            </div>

        </div>

        <!-- LOGS -->
        <div class="logs">
            <h3>Activity Logs</h3>
            <div id="logBox"></div>
        </div>

    </div>

</div>

<!-- JS LAST -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>