body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* Sidebar */
.sidebar {
    width: 150px;
    height: 97vh;
    background: #020617;
    position: fixed;
    padding: 10px;
}

/* Main container FIXED WIDTH */
.main {
    margin-left: 200px;
    width: 1000px;          /* FIXED WIDTH */
    margin-right: auto;
    margin-left: 240px;
    padding: 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background: #1e293b;
    padding: 10px;
    border-radius: 10px;
}

/* Controls */
.controls {
    margin-top: 10px;
}

.controls button {
    margin-right: 10px;
    padding: 10px 15px;
    background: #334155;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.controls button:hover {
    background: #475569;
}

/* Cards */
.cards {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    max-width: 1000px;
    max-height: 75px;
}

.card {
    flex: 1;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 2px;
}

.card p {
    font-size: 13px;
    margin-top: 5px;
}

.red { background: #7f1d1d; }
.orange { background: #78350f; }
.green { background: #14532d; }

/* Charts */
.charts {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.charts canvas {
    width: 50% !important;
    max-width: 500px;
    max-height: 250px;
    background: #1e293b;
    padding: 5px;
    border-radius: 10px;
}

/* Alerts */
.alerts {
    background: #1e293b;
    padding: 10px;
    margin-top: 20px;
    height: 80px;
    border-radius: 10px;
    overflow-y: auto;
}

/* Logs */
.logs {
    background: #1e293b;
    padding: 10px;
    margin-top: 20px;
    height: 100px;
    border-radius: 10px;
    overflow-y: auto;
}